@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
.App,
#root {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  line-height: 25px;
}
input {
  display: block;
  width: 100%;
}
